bin/
obj/
*.user
.idea/
.vs/

# Bundled Mercurial dropped into the SendReceive test project by SIL.Chorus.Mercurial at build time
test/HgResume.SendReceiveTests/Mercurial/
test/HgResume.SendReceiveTests/MercurialExtensions/
